$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$primary: rgb(128,49,94);
$secondary: rgb(96,29,60);
$tertiary:  rgb(216, 154, 189);
$tertiary-shadow:  rgba(216, 154, 189, 0.1);
$quaternary: rgb(102, 39, 75);
$quaternary-dark: rgb(69, 26, 50);
// $quinary: rgb(255, 255, 255);
