// $fz-xs: 1.6rem;
// $fz-sm: 1.9rem;
// $fz-md: 2.1rem;
// $fz-lg: 2.5rem;
// $fz-xl: 3rem;
// $fz-xxl: 4rem;
// $fz-xxxl: 7rem;

$fs-300: 1rem;
$fs-400: 1.125rem;
$fs-500: 1.375rem;
$fs-600: 1.75rem;
$fs-700: 2.25rem;

$transition-delay: .3s;